@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Outfit', sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(212, 45%, 89%);
}
.qrcode {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 375px;
}
.qrcode h1 {
    font-size: 30px;
    color: hsl(218, 44%, 22%);
    text-align: center;
}
.qrcode p {
    margin-top: 15px;
    font-size: 22px;
    text-align: center;
    color: hsl(220, 15%, 55%)
}
.qrcode img {
    width: 375px;
    border-radius: 10px;
}